main{background-color: aquamarine;}

.logo{width: 50px;}
.box {
    margin: auto;
    width: 800px;
    height: 800px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.bg_box     {background-color:aqua;color: white;}
.bg_red     {background-color:red; color: white;}
.bomb       {width: 70%;}

